@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

:root {
   --peru: #187613;
   --black: #222;
   --white: #fff;
   --light-black: #666;
   --light-white: #ccc;
   --light-bg: #f5f5f5;
   --dark-bg: rgba(0, 0, 0, .7);
   --border: .1rem solid #aaa;
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


* {
   font-family: 'Dosis', sans-serif;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
   width: 1rem;
}

html::-webkit-scrollbar-track {
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
   background-color: var(--peru);
}

.navbar-1 a {
   font-size: 2.2rem;
   margin-left: 2rem;
   color: var(--white);
}

.container-1 {
   height: 90vh;
   width: 100%;
   background-image: url(./img/homepage.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.container-2 {
   height: 90vh;
   width: 100%;
   display: flex;
   flex-direction: row;
   background-color: var(--light-white);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.content-1 {
   line-height: 2rem;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 30rem 3rem;
   font-size: 2rem;
}

.overlay {
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
   height: 90vh;
   background-color: rgba(0, 0, 0, 0.6);
   color: white;
   /* display: flex; */
   justify-content: center;
   align-items: center;
}

/* button */
.btn-1 {
   margin-top: 1rem;
   display: inline-block;
   background: var(--peru);
   color: var(--white);
   font-size: 2rem;
   cursor: pointer;
   padding: 1rem 1rem;
}

.btn-1:hover {
   letter-spacing: .1rem;
}

/* about */
.port{
   height: auto;
   width: 100vw;
   align-content: center;
   background-color: white;
   overflow-x: hidden;
   justify-content: center;
}
.flex-container{
   display: flex;
   justify-content: space-around;
}
.avg{
   width: 300px;
   height: auto;
   justify-content: center;
   box-shadow: 2px 2px 6px gray;
}
.twr{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 50%;
   padding: 20px;
}
#avg{
   height: 450px;
}
#avg_1{
   height: 250px;
   width: 200px;
   align-content:center;
   display: flex;
}
#twr{
   margin-left: 50px;
}
#flex{
   width: 100%;
   justify-content: center;
   display: flex;
   padding: 50px;
}
/* contact */
.contact{
   position: relative;
   width: 100%;
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.contact-form{
   position: relative;
   background: #f9f9f9;
   width:calc(100% - 400px);
   padding: 60px 40px 20px;
}
.contact-form form{
   width: 100%;
}
.contact-form .row{
   width: 100%;
   display: flex;
}
.contact-form .input50{
   width: 50%;
   margin: 0 10px;
}
.contact-form .input100{
   width: 100%;
   margin: 0 10px;
}
#send{
   background-color: #111;
}
.contact-form .row input,
.contact-form .row textarea{
   position: relative;
   border: 1px solid rgba(0, 0, 0, 0.2);
   color: #111;
   background: transparent;
   width: 100%;
   padding: 10px;
   outline: none;
   font-size: 16px;
   font-weight: 300;
   margin: 10px 0;
   resize: none;
}
.contact-form .row textarea{
   height: 150px;
}
.contact-form .row input[type = 'submit']{
   background-color:var(--secondary-color);
   color:#fff ;
   margin: 0;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 600;
   border: 0;
   cursor: pointer;
}
.contact-info{
   width: 350px;
   background: #f9f9f9;
   padding: 60px 40px 20px;
}
.contact-info .info-box{
   display: flex;
   align-items: flex-start;
   margin-bottom: 40px;
}
.contact-info .info-box .contact-icon{
   width: 20px;
   margin-right: 40px;
}
.contact-info .info-box .details h4{
   color:var(--secondary-color);
}
.contact-info .info-box .details p,
.contact-info .info-box .details a{
   color: #111;
}

/* footer */
.footer {
   text-align: center;
}

.footer .icons-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 2rem;
}

.footer .icons-container .icons {
   text-align: center;
   padding: 3rem 2rem;
}

.footer .icons-container .icons i {
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background: var(--peru);
   color: var(--white);
   margin-bottom: .5rem;
   line-height: 5.8rem;
   font-size: 2rem;
}

.footer .icons-container .icons h3 {
   font-size: 2rem;
   color: var(--black);
   padding: 1rem 0;
}

.footer .icons-container .icons p {
   line-height: 1.5;
   font-size: 1.7rem;
   color: var(--light-black);
   text-transform: none;
}

.footer .share {
   margin: 2rem 0;
}

.footer .share a {
   height: 6rem;
   width: 6rem;
   line-height: 5.8rem;
   color: var(--white);
   background: var(--black);
   margin: 0 .3rem;
   font-size: 2.5rem;
}

.footer .share a:hover {
   background: var(--peru);
}

.footer .credit {
   padding-top: 2.5rem;
   margin-top: 3rem;
   border-top: var(--border);
   font-size: 2rem;
   color: var(--light-black);
}

.footer .credit span {
   color: var(--peru);
}

h1.title {
   font-size: 6rem;
}